Projet : Accident de la route
==============

## Etape 3 : Séparation des datasets



### Import des données

In [1]:
# import des librairies
import pandas as pd
pd.set_option('display.max_columns', None)
pd.options.display.max_info_columns

from sklearn.model_selection import train_test_split

In [5]:
# import du dataset
df = pd.read_csv("dataset/dataset_final.csv")
print(df.shape)
df.head()

(456428, 35)

,place,catu,grav,sexe,trajet,secu1,locp,catr,circ,nbv,vosp,prof,plan,surf,infra,situ,vma,lum,com,agg,int,atm,col,lat,long,senc,catv,obs,obsm,choc,manv,motor,age_group,h_group,weekday
0,1,1,1,1,5,1,-1,4,2,2,0,1,1,1,0,1,50,1,26198,2,3,1,3,44.559420,4.725720,1,3,0,2,1,9,1,2,6,2
1,1,1,0,1,5,1,-1,4,2,2,0,1,1,1,0,1,50,1,26198,2,3,1,3,44.559420,4.725720,1,6,0,2,2,1,1,7,6,2
2,1,1,1,1,9,1,0,4,2,2,0,1,1,1,0,1,50,1,25204,2,3,1,3,46.925810,6.346200,2,6,0,2,8,15,1,4,3,3
3,1,1,0,1,4,1,0,4,2,2,0,1,1,1,0,1,50,1,25204,2,3,1,3,46.925810,6.346200,2,5,0,2,1,1,1,6,3,3
4,1,1,0,1,0,1,-1,3,-1,2,0,1,1,1,5,1,50,1,22360,2,6,1,2,48.493162,-2.760439,2,6,0,2,1,2,1,3,6,3

### Séparation du dataset en un train set et un test set

In [11]:
df['index'] = df.index
df_train, df_test = train_test_split(df, test_size=0.2, random_state = 42, stratify=df['grav'])
print("Séparation des labels et targets :", df_train.shape, df_test.shape)

Séparation des labels et targets : (365142, 36) (91286, 36)

### Sauvegarde des datasets

In [12]:
df_train.to_csv('dataset/df_train.csv', index=False)
df_test.to_csv('dataset/df_test.csv', index=False)